WCF/WCF002_WebClient/Connected Services/HelloService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Parent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Father" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mother" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parent" nillable="true" type="tns:Parent" />
</xs:schema>