WCF/WCF002_WinFormsClient/Connected Services/HelloWorldService/HelloWorldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILearningService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILearningService_GetUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="ILearningService_GetUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningService_GetParents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParents" />
  </wsdl:message>
  <wsdl:message name="ILearningService_GetParents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILearningService">
    <wsdl:operation name="GetUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningService/GetUserName" message="tns:ILearningService_GetUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningService/GetUserNameResponse" message="tns:ILearningService_GetUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParents">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningService/GetParents" message="tns:ILearningService_GetParents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningService/GetParentsResponse" message="tns:ILearningService_GetParents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILearningService" type="tns:ILearningService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/ILearningService/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParents">
      <soap:operation soapAction="http://tempuri.org/ILearningService/GetParents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILearningService" type="tns:ILearningService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILearningService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://tempuri.org/ILearningService/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParents">
      <soap12:operation soapAction="http://tempuri.org/ILearningService/GetParents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldService">
    <wsdl:port name="BasicHttpBinding_ILearningService" binding="tns:BasicHttpBinding_ILearningService">
      <soap:address location="http://localhost:8080/HelloService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILearningService" binding="tns:NetTcpBinding_ILearningService">
      <soap12:address location="net.tcp://localhost:8090/HelloService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/HelloService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JIA-PC\JIA</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>